
.getnotice  {
    position: relative;
    background-image: url("./../../../assets/getnotice-bg.jpg");
    padding: 39px 0;
    z-index: 1;
}

.getnotice-btn-parent{
    display: flex;
    justify-content: center;

}

.getnotice-btn {
    font-family: "Open Sans";
    background: white;
    color: black;
    border: none;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px 22px;
}

.getnotice-btn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}