.two-columns {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.two-columns li {
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
    color: #494646;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .3px;
    font-family: "Open Sans";
    margin: 0 50px;
}