.provenExpertise{
    position: relative;
    background-image: url("./../../../assets/marketingAutomation-carousel.jpg");
    padding: 39px 0;
    z-index: 1;
}
.provenExpertise-btn{
    background: white;
    color: #000;
    padding: 7px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 0px;
    font-family: "Open Sans";
    font-size: 14px;
    margin-top: 30px;
}


.provenExpertise-btn:hover{
    color: white;
    background: transparent;
    border: 2px solid white;

}