

.brandingagencychoose {
    text-align: center;
    padding: 40px 0px;
    max-width: 1000px;
    margin: 50px auto 0;
  }
  
  .brandingagencychoose-heading {
    margin-bottom: 0px;
    font-family: "Open Sans";
    font-size: 31px;
    font-weight: 600;
    color: var(--black);
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* padding-bottom: 15px; */
    text-align: center;
  }
  
  
  
  .brandingagencychoose-description {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--sub-text);
    margin-bottom: 20px;
    font-family: "Open Sans";
  }
  
  .brandingagencychoose-button {
    background: var(--gradient);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }