.blog-item {
    padding: 30px;
}

.blog-img-container {}

.blog-img-container img {
    width: 100%;
}

.blog-text-container {}

.blog-text-container h3 {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 0;
    padding-block: 10px;
    color: var(--text-color);
}

.blog-text-container h1 {
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px 0 20px;
}

.blog-text-container p {
    margin: 0 0 22px;
    color: var(--sub-text);
}

.icons-parent {}

.icons-parent i {
    margin-right: 10px;
}

.icons-parent i a {
    color: var(--black);
    text-decoration: none;
    margin: 0 20px;
}

.icons-parent i a svg {
    margin: 0 10px 5px 0;
}

.icons-parent i a:first-child {
    margin-left: 0px;
}

.blog-btn {
    margin: 18px 0;
    font-size: 11px;
    padding: 5px 14px;
    letter-spacing: 1px;
    border: 2px solid var(--black);
    text-transform: uppercase;
    font-weight: 600;
    background: none;
    color: white !important;
}

.blog-btn a {
    color: var(--black);
    text-decoration: none;
}


.blog-item2{
    padding: 30px 30px 30px 0;
}

.blog-item2-first-first-sec{
    margin-bottom: 45px;
}

.blog-item2-heading{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;

}

.blog-item2-heading::before {
    bottom: 0;
    background: var(--black);
    height: 1px;
    content: "";
    position: absolute;
    width: 30px;
}

.blog-item2-input-parent{
    border-radius: 4px;
    border-width: 2px;
    margin-bottom: 0;
    padding: 15px;
    border: 2px solid #c6c5c5;
    letter-spacing: 1px;
    font-size: 14px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 85%;
}

.blog-item2-input{
    border: none;
    width: 90%;
}

.blog-item2-input::placeholder{
    letter-spacing: 2px;
}

.blog-item2-input-btn{
    cursor: pointer;
    z-index: 0;
    color: #000;
    margin-right: 0;
    border: none;
    background: none;
    font-size: 16px;
}

.blog-item2-input-btn::before{
    cursor: pointer;
    font-size: 16px;
}

.count{
    color: var(--text-color);
}

.blog-item2-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-item2-list li {
    padding: 5px 0;
    text-decoration: none;
    color: var(--sub-text);
    cursor: pointer;
}
.blog-item2-list li a{
    padding: 5px 0;
    text-decoration: none;
    color: var(--sub-text);
    cursor: pointer;
}