.brandguidelines{
    padding-bottom: 0px !important;
    padding-top: 40px;
}

.brandguidelines-heading{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 0;
    text-align: center;
    font-family:"Open Sans";
    margin:0px ;
}

.brandguidelines-seperator{
    width: 30px;
    position: relative;
    background: #72235c;
    height: 2px;
    left: 50%;
    margin: 30px 0;
    bottom: 0;
}

.brandguidelines-detail{
    text-align: center;
    margin: 0 0 22px;
    color: #494646;
    font-size: 16px;
    line-height: 23px;
    background-color: #fff;
    letter-spacing: .3px;
    font-family: "Open Sans";
}