.getnotice-btn {
    font-family: "Open Sans";
    background: var(----white);
    color: var(--black);
    border: none;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 10px auto;
}

.getnotice-btn:hover {
    background: transparent !important;
    border: 2px solid var(----white) !important;
    color: var(----white);
}

.question-btn-parent {
    display: flex;
    justify-content: center;
}

@media (max-width:767px) {
    .question-heading {
        font-size: 27px;
        padding-bottom: 17px;
    }
    .question-text{
        font-size: 14px;
    }
}