.marketingAutomation-carousel{
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../../../assets/marketingAutomation-carousel.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}