.homesection6 {
    padding-block: 50px;
}

.homesection6-heading {
    font-size: 20px !important;
    padding-bottom: 0;
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Open Sans";
}

.homesection6-text {
    padding-top: 25px;
    letter-spacing: 0;
    color: #7f7f7f;
    margin: 0 0 22px;
    text-align: center;
}

.homesection6-column-Parent {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.section6-text {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: "Open Sans";
}

.section6-text2 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Open Sans";
}

.section6-subparent {
    background-color: #f5f5f5;
}

.section6-subparent-text-parent{
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
}

.section6-image-parent img {
    width: 662px;
    height: 500px;
}

.section6-subparent-text-heading {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
    font-family: "Open Sans";
}

.section6-subparent-text-subHead {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: 5px 0 25px;
    font-family: "Open Sans";
    letter-spacing: 3px;
}

.section6-subparent-text {
    margin-bottom: 22px;
    text-align: left;
    font-family: "Open Sans";
    letter-spacing: 3px;
    color: #494646;
}

.section6-subparent-btn{
    border: 4px solid #000;
    background-color: transparent;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    display: inline-block;
    font-size: 11px;
    padding: 4px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 0px;
}
.section6-subparent-btn:hover{
    color: white !important;
    border: 4px solid #000;
    background: #000 !important;
}
.section6-subparent-btn:active{
    border: 4px solid #000 !important;
}