.logoAndBrand {
    text-align: center;
    padding: 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.logoAndBrand-btn-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logoAndBrand-btn {
    font-family: "Open Sans";
    background: linear-gradient(30deg,
            rgba(114, 35, 92, 1) 0%,
            rgba(162, 24, 90, 1) 28%,
            rgba(114, 35, 92, 1) 100%);
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px 22px;
}