.bookcolsultation {
    background: #000;
}

.bookcolsultation-parent {
    padding-block: 50px;
}

.bookcolsultation-icon-parent {
    display: flex;
    justify-content: center;
}

.bookcolsultation-icon {
    color: white;
    font-size: 45px;
}

.bookcolsultation-parent-text {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    letter-spacing: 1px;
}

.bookcolsultation-parent-text h4 {
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bookcolsultation-parent-text p {
    display: block;
    line-height: 19px;
    color: #828282;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 13px;
}

.bookcolsultation-subparent{
    padding-block: 39px;
    text-align: center;
    font-size: 30px;
    background: #f4f4f4;
}

.bookcolsultation-subparent-h1{
    margin-bottom: 30px;
    font-family: "Open Sans";
    letter-spacing: 1px;
    line-height: 34px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    font-weight: 600 !important;
    font-size: 30px;
}
.bookcolsultation-subparent-button{
    padding: 10px 22px;
    font-family: "Open Sans";
    letter-spacing: 2px;
    background: linear-gradient(30deg, rgba(114, 35, 92, 1) 0%, rgba(162, 24, 90, 1) 28%, rgba(114, 35, 92, 1) 100%);
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}