.ourclients {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.ourclients img {
    height: 170px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: relative;
    object-fit: contain;
    margin: 0 auto;
    width: 170px;
}

.image-box {
    border: 1px solid #e8e8e8;
    margin: 15px auto;
    min-height: 130px;
    display: table;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;   
}
.ourclients-btn{
    border: 2px solid #000; 
    background-color: #000;
    font-size: 22px;
    color: white;
    font-weight: 700;
    font-size: 11px;
    padding: 8px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px auto 0;
    border-radius: 0px;
}
.ourclients-btn:hover{
    color: #000 !important;
    border: 2px solid #000;
    background: white !important;
}
.ourclients-btn:active{
    border: 2px solid #000 !important;
}
.ourclients-btn-parent{
    display: flex;
    justify-content: center;
}