.section-contact {
    background: linear-gradient(30deg, rgba(114, 35, 92, 1) 0%, rgba(162, 24, 90, 1) 28%, rgba(114, 35, 92, 1) 100%);
    color: white;
    text-align: center;
    padding: 30px 20px;
  }
  