.logo {
    width: 100px;
    height: 48px;
    transition: filter 0.3s;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-scrolled {
    background-color: white !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    filter: none;
}

.navbar-scrolled .logo {
    filter: grayscale(100%);
}

.navbar .nav-link {
    color: white !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.navbar-scrolled .nav-link {
    color: black !important;
}

.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8) !important;
    padding: 0;
}


.navbar .dropdown-menu .dropdown-item {
    color: #c8c8c8 ;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

.navbar-scrolled .dropdown-menu .dropdown-item {
    color: #c8c8c8;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-divider {
    margin: 0;
    background: rgba(255, 255, 255, 0.16);
}

.consultation-btn {
    background: transparent !important;
    outline: none !important;
    border: 2px solid #72235c !important;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 0 !important;
    font-weight: 600;
    color: white !;
    transition: background-color 0.3s, border-color 0.3s;
}

.consultation-btn:hover {
    background: #72235c !important;
    border: 2px solid #72235c !important;
}

.consultation-btn:focus,
.consultation-btn:active {
    background-color: transparent !important;
    border-color: #72235c !important;
}

.navbar-scrolled .consultation-btn {
    color: black ;
}
.navbar-scrolled .consultation-btn:hover{
    color: white ;
}
.navbar-scrolled .consultation-btn:hover:active{
    color:black;
}

@media (max-width:991px) {

    .logo {
        width: 75px;
        height: auto;
    }

    .navbar-brand {
        margin: 0 0 10px;
    }

    .navbar{
        background: rgba(0, 0, 0, 0.7);
    }

    .navbar-collapse {
        border-top: 1px solid white;
        padding: 0;
    }

    .consultation-btn {
        margin: 0;
    }

    .navbar-toggler {
        color: transparent;
        outline: none;
        border: 1px solid white;
    }

    .navbar-scrolled .navbar-toggler {
        border: 1px solid black;
        color: transparent;
    }

    .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }

    .navbar-scrolled .navbar-toggler-icon {
        filter: none;
    }

}

@media (min-width:992px) and (max-width:1200px) {
    .navbar .nav-link{
        font-size: 12px;
        font-weight: 500;
    }
    .consultation-btn {
        font-size: 14px;
        margin-left: 10px;
    }
}