@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.footerImg {
  margin: 10px 0px 20px 0px;
  width: 115px;
}

.footer {
  font-family: 'Open Sans';

}


.ant-typography {
  font-family: 'Open Sans';
  margin: 3px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links p:first-child {
  padding-left: 0;
}

.footer-links p {
  text-decoration: none;
  color: var(--black);
  letter-spacing: 1px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family);
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0;
}

.footer-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.footer-icons a:last-child {
  padding-right: 0;
}

.footer-icons .icon {
  text-decoration: none;
  color: var(--black);
  padding: 0 16px;
  font-size: 30px;
}

.footer-content {
  padding: 10px 0;
}

.sub-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  text-align: left;
  cursor: pointer;
}

.footer-text {
  text-align: left;
}

.footer-logo img {
  width: 90px;
}


@media (max-width: 767px) {
  
  
  .footer-links {
    flex-direction: column;
  }


  .footer-links p {
    padding: 0;

  }

  .footer-container {
    display: block;
  }

  .footer-icons {
    margin-top: 20px;
  }

  .footer-icons a:first-child{
    padding-left: 0;
  }

}

@media (min-width:768px) and (max-width: 991px) {

  .footer-links p {
    padding: 0;
  }

  .footer-container {
    display: block;
  }

  .footer-icons {
    justify-content: center;
    margin-top: 20px;
  }

  .footer-links {
    justify-content: center;
  }

}

@media (min-width:992px) and (max-width: 1199px) {

  .footer-links p {
    padding: 0;
  }

  .footer-icons {
    justify-content: center;
    margin-top: 20px;
  }

  .footer-links {
    justify-content: center;
  }

}