@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.footerImg {
  margin: 10px 0px 20px 0px;
  width: 115px;
}

.footer {
  font-family: 'Open Sans';
  /* border-top: 1px solid grey; */
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}


.ant-typography {
  font-family: 'Open Sans';
  margin: 3px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px; 
}

.footer-links {
  display: flex;
  gap: 20px;
}
.footer-links a:first-child{
  padding-left: 0;
}

.footer-links a {
  text-decoration: none;
  color: var(--black);
  letter-spacing: 1px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family);
  text-transform: uppercase;

}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons a:last-child{
  padding-right: 0;
}

.footer-icons .icon {
  text-decoration: none;
  color: var(--black);
  padding: 0 16px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .footer-links{
    gap: 5px;
  }
  .footer-links a{
    font-size: 9px;
    letter-spacing: 0px;
  }
  .footer-icons .icon{
    font-size: 25px;
  }
}

@media (max-width: 1199px) {
  .footer-links a{
      padding: 0;
  }
  .footer-container{
    display: block;
  }
  .footer-icons{
    justify-content: center;
    margin-top: 20px;
  }
  .footer-links{
    justify-content: center;
  }
}

.footer-content {
  padding: 10px 0;
}
.sub-footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  text-align: left; 
}

.footer-text {
  text-align: right; 
}

.footer-logo img {
  width: 90px;
}
