.homesection6 {
    padding-block: 50px;
}

.homesection6-heading {
    font-size: 20px !important;
    padding-bottom: 0;
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Open Sans";
}

.homesection6-text {
    padding-top: 25px;
    letter-spacing: 0;
    color: #7f7f7f;
    margin: 0 0 22px;
    text-align: center;
}

.homesection6-column-Parent {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.section6-text {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: "Open Sans";
}

.section6-text2 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Open Sans";
}
