.homesection6 {
    padding-block: 50px;
}

.homesection6-heading {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-family: var(--font-family);
}

.homesection6-text {
    padding-top: 20px;
    color: #7f7f7f;
    margin: 0 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.homesection6-row {
    justify-content: center;
    text-align: center;
}

.homesection6-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.section6-text {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black);
    margin-top: 10px;
    font-family: var(--font-family);
}

.section6-text2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #555;
    margin-bottom: 0;
    font-family: var(--font-family);
}

/* Responsive Image Styling */
.responsive-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    /* border-radius: 50%; */
}

/* Responsive Design */
@media (max-width: 768px) {
    .homesection6-heading {
        font-size: 20px;
    }
    .homesection6-text {
        font-size: 14px;
    }
    .responsive-image {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .homesection6-heading {
        font-size: 18px;
    }
    .homesection6-text {
        font-size: 13px;
    }
    .responsive-image {
        max-width: 90%;
    }
}
