.case-study-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

.case-study-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* Add gap to maintain spacing without extra margins */
    max-width: 1200px;
    /* Limit max width to avoid excessive stretching */
    width: 100%;
    margin: 0 auto;
}

.case-study-image-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.case-study-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.case-study-heading {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
    font-family: "Open Sans", sans-serif;
}

.case-study-subheading {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 0 25px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}

.case-study-description {
    margin-bottom: 22px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    color: var(--sub-text);
}

.case-study-button {
    border: 4px solid var(--black);
    background-color: transparent;
    font-size: 11px;
    font-weight: 700;
    padding: 4px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    color: var(--black);
}

.case-study-button:hover {
    color: var(----white) !important;
    border: 4px solid var(--black);
    background: var(--black) !important;
}

.case-study-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 991px) {
    .case-study-content {
        flex-direction: column;
        align-items: center;
    }

    .case-study-image-wrapper {
        height: 400px;
    }

    .case-study-text-content {
        padding: 10px 60px;
    }

    .case-study-heading {
        text-align: center;
    }

    .case-study-subheading {
        text-align: center;
    }

    .case-study-description {
        text-align: center;
    }
    .case-study-button {
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .case-study-image-wrapper img {
        height: auto;
        max-height: 300px;
    }

    .case-study-content {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .case-study-text-content {
        padding: 10px 60px;
    }

    .case-study-heading {
        font-size: 22px;
        line-height: 26px;
    }

    .case-study-description {
        text-align: center;
    }

    .case-study-button {
        font-size: 10px;
        padding: 6px 12px;
        color: var(--black);
    }
}

@media (max-width: 480px) {
    .case-study-container {
        padding: 30px 0;
    }

    .case-study-heading {
        font-size: 20px;
        line-height: 24px;
    }

    .case-study-text-content {
        padding: 0 20px;
    }

    .case-study-description {
        font-size: 14px;
        text-align: center;
    }

    .case-study-button {
        font-size: 9px;
        padding: 5px 10px;
    }
}